*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 20px;
    padding-left: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.title{
    background-color: palevioletred;
    width: 90%;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}

.h1,h2{
    padding: 5px;
}

.box-one{
    background-color: black;
    color: white;
    width: 250px;
    height: 280%;
    border-radius: 20px;
    padding: 40px;
    text-align: center;

}

.box-one__free{
    font-size: 20px;
    text-align: left;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px;
    padding-left: 30px; 
    width: 200px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.box-two{
    background-color: black;
    color: white;
    width: 250px;
    height: 280%;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.box-two__free{
    font-size: 20px;
    text-align: left;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px;
    padding-left: 30px; 
    width: 200px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.box-three{
    background-color: black;
    color: white;
    width: 250px;
    height: 280%;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.box-three__free{
    font-size: 20px;
    text-align: left;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px;
    padding-left: 30px; 
    width: 200px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
}